* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.body {
    background-color: #faf8ef;
}

.body { overscroll-behavior: none }

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_reset-button {
    border-radius: 7px;
    color: black;
    background-color: #F3B27A;
    border: none;
}
.heading__title {
    color: #776e65;
    font-size: 2em;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.score-container__score {
    color: #776e65;
    font-weight: 600;
}

.grid {
    width: 25em;
    height: 25em;
    background-color: #cdc1b5;
    border: 5px solid #bbada0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5em;
}

.box {
    width: 97.5px;
    height: 97.5px;
    border: 5px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-screen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #faf8ef;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-screen__start-button {
    background-color: #8f7a66;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.hide {
    display: none;
}

.box_value-2 {
    background-color: #eee4da;
}

.box_value-4 {
    background-color: #eee1c9;
}

.box_value-8 {
    background-color: #f3b27a;
}

.box_value-16 {
    background-color: #f69664;
}

.box_value-32 {
    background-color: #f77c5f;
}

.box_value-64 {
    background-color: #f75f3b;
}

.box_value-128 {
    background-color: #edd073;
}

.box_value-256 {
    background-color: #edcc63;
}

.box_value-512 {
    background-color: #edc651;
}

.box_value-1024 {
    background-color: #eec744;
}

.box_value-2048 {
    background-color: #ecc230;
}

.box_value-2,
.box_value-4,
.box_value-8,
.box_value-16,
.box_value-32,
.box_value-64,
.box_value-128,
.box_value-256,
.box_value-512,
.box_value-1024,
.box_value-2048 {
    color: black;
}

.container_reset-button {
    height: 1.4rem;
    width: 2rem;
    background-color: #776e65;
    color: white;
}